$media-desktop: "only screen and (min-width : 1024px)";
$media-ltab: "only screen and (min-width : 800px)";
$media-tablet: "only screen and (max-width : 1000px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

@media #{$media-desktop} {
    .menu{
        display: none;
      }
}
@media #{$media-ltab} {
    .menu{
        display: none;
      }
}

@media #{$media-tablet} {
    //
    #login{
        .banner{
            display: none;

        }
        .banner-section{
            position: absolute;
        }
        .form-section{
            width: 100%;
            display: flex;
            align-items: center;
            .holder{
                margin: 0;
                text-align: center;
                form{
                    margin: auto;
                }
            }
        }
    }
    //nav
    #nav{
        .links{
            margin-right: 0;
            .link{
                p{
                    font-size: 13px;
                }
                &:nth-child(1){
                    display: none;
                }
                &:nth-child(2){
                    display: none;
                }
            }
        }
        .search{
            // input{
            //     display: none;
            // }
            position: absolute;
            margin-top: 6rem;
            right: 2%;
            width: fit-content;
        }

        .logo{
            width: 25%;
        }
    }
  //sidebar
  #sideBar {
    display: none;
  }
  #minSideBar{
    width: 100%;
    .close{
        top: 6rem;
        margin-left: 1rem;
        position: relative;
        font-size: 17px;
    }
  }
  //dashboard
  #dashboard {
    .menu{
        position: fixed;
        display: block;
        top: 3.8rem;
        left: 2%;
        z-index: 11;
        width: fit-content;
    }
    .content {
      width: 100% !important;
    }
    .users {
      flex-wrap: wrap;
      #usercard {
        width: 35% !important;
        margin: 0.5rem 0;
      }
    }
    .table {
      overflow: scroll;
    }
    .filter{
        left: 0;
    }
  }
  //user details
  #user-details {
    .page-nav {
      p {
        font-size: 12px;
        &:nth-child(1) {
          font-size: 20px;
        }
      }
    }
    .page-header {
        p {
          font-size: 14px;
        }
        button {    
          border-radius: 8px;
          background-color: transparent;
          margin: 0 1rem;
          padding: 0.5rem .5rem;
          font-size: 10px;
          cursor: pointer;
        }
      }
      .profile-header {
        .user-header {
            flex-wrap: wrap;
            justify-content: center ;
          .user {
            .real-name {
             font-size: 14px;
            }
            .userName {
              font-size: 12px;
            }
          }
          .user-tier {
            p {
                font-size: 14px;
            }
          }
          .account-details {
            p {
              margin: 0;
            }
            .amount {
                font-size: 14px;
            }
            .bank {
                font-size: 12px;
            }
          }
        }
      }
  }
}

@media #{$media-mobile} {
}

@media #{$media-mobile-sm} {
}
