#sideBar {
  width: 17%;
  height: 100%;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1rem;
  .nav-container{
    margin-top: 7rem;
  }
  .side-link{
    display: flex;
    align-items: center;
    p{
        margin: 0 1rem;
    }
  }
}
