#sideBar {
  width: 17%;
  height: 100%;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  // padding-left: 1rem;
  .nav-container {
    margin-top: 7rem;
  }
  .title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding-left: 1rem;
    /* identical to box height */

    color: #545f7d;
  }
  .side-link {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    padding-left: 1rem;
    p {
      margin: 0 1rem;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      color: #213f7d;
    }
  }
  .side-link:hover{
    background: rgba(57, 205, 204, 0.1);
  }
  .side-link:hover::before{
    background: #39CDCC;
    border: #39CDCC 2.5px solid;
    height: 1.5rem;
    content: '';
    position: absolute;
    left: 0;
    margin-right: 1rem;
  }
}
