$color_1: #213f7d;
$color_2: #545f7d;
$font-family_1: "Work Sans";
$background-color_1: rgba(57, 205, 204, 0.1);

#user {
  min-height: 100vh;
  width: 90%;
  h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $color_1;
  }
  .users {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .table {
    background-color: #fff;
  }
  table {
    width: 100%;
    padding: 1rem;
    background: white;
    align-items: center;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: $color_2;
    margin-top: 2rem;
    th {
      text-align: left;
      padding: 1rem 0;
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $color_2;
      div {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0;
        p {
          margin: 0 0.3rem;
        }
      }
    }
    tr {
      cursor: pointer;
      &:hover {
        background-color: $background-color_1;
      }
    }
    td {
      // color: $color_2;
      padding: 0.5rem;
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color_2;
      .status {
        padding: 0.3rem 0.5rem;
        &.pending {
          border-radius: 50px;
          background-color: rgba(233, 178, 0, 0.1);
          color: rgba(233, 178, 0, 1);
        }
        &.active {
          border-radius: 50px;
          background-color: rgba(57, 205, 98, 0.1);
          color: rgba(57, 205, 98, 1);
        }
        &.inactive {
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 0.1);
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .table-page-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-btn {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      font-size: smaller;
      text-align: center;
      padding: 0.1rem 0.3rem;
      cursor: pointer;
    }
  }
  .table-navigators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .table-length {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $color_2;
      }
    }

    select {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 0.3rem;
      margin: 0 1rem;
      border: none;
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $color_1;
    }
    p {
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color_2;
      margin: 0 1rem;
    }
  }
  .filter {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    label {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: #545f7d;
    }
    .close {
      // padding: .3rem;
      width: fit-content;
      // border-radius: 50%;
      // background-color: rgba(57, 205, 204, 1);
      color: rgba(57, 205, 204, 1);
      font-size: larger;
	  cursor: pointer;
    }
    .input {
      margin: 0.5rem 0;
      background: #ffffff;
      border: 1px solid #21407d50;
      border-radius: 8px;
      width: 100%;
      min-height: 40px;
    }
    .buttons {
		button{
			margin: 0.5rem;
			padding: 0.5rem 1rem;
			&:nth-child(1) {
				border: 1px solid #545f7d;
				border-radius: 8px;
				background-color: white;
				color: #545f7d;
			  }
			  &:nth-child(2) {
				border: 1px solid rgba(57, 205, 204, 1);
				border-radius: 8px;
				background-color: rgba(57, 205, 204, 1);
				color: #ffffff;
			  }
		}
      
    }
  }
}
