#user {
  min-height: 100vh;
  width: 90%;
  h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213f7d;
  }
  .users {
    display: flex;
    width: 100%;
	justify-content: space-between;
  }
  table {
    width: 100%;
    padding: 1rem;
    background: white;
    align-items: center;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
    margin-top: 2rem;
    th {
      text-align: left;
      padding: 1rem 0;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;

      color: #545f7d;
      div {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0;
        p {
          margin: 0 0.3rem;
        }
      }
    }
    td {
      // color: $color_2;
      padding: 0.5rem 0;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
    }
  }
  .table-navigators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .table-length {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #545f7d;
      }
      select {
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        padding: 0.3rem;
        margin: 0 1rem;
        border: none;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #213f7d;
      }
    }
  }
}
